<a href="https://colab.research.google.com/github/Itto-ryu/CPEN-21A-CPE-1-2/blob/main/LoopStatement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###FOR Loop

In [2]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

###Break Statement

In [4]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [5]:
for x in week:
  if x=="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

###Looping through a String

In [6]:
for x in "Programming with Python":
  print(x)

P
r
o
g
r
a
m
m
i
n
g

w
i
t
h

P
y
t
h
o
n

###The range() Function

In [7]:
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

###Nested Loops

In [8]:
mood=["Happy","Sad","Angry"]
color=["Yellow","Blue","Red"]

for x in mood:
  for y in color:
    print(x,y)

Happy Yellow
Happy Blue
Happy Red
Sad Yellow
Sad Blue
Sad Red
Angry Yellow
Angry Blue
Angry Red

###Python While Loops

In [9]:
i=10
while i>6:
  print(i)
  i-=1         #assignment operator for subtraction, i = i-1

10
9
8
7

In [15]:
#Break Statement

i=10
while i>6:
  print(i)
  if i==8:
    break
  i-=1

10
9
8

###Continue Statement

In [20]:
i=10
while i>6:
  i=i-1
  if i==8:
    continue
  print(i)

9
7
6

###Else Statement

In [21]:
i=10
while i>6:
  i=i-1
  print(i)
else:
  print("i is no longer greater than 6")

9
8
7
6
i is no longer greater than 6

###Let's try

###Application 1

In [33]:
#For Loop
number=["Value 0","Value 1","Value 2","Value 3","Value 4","Value 5","Value 6","Value 7","Value 8","Value 9","Value 10"]
for x in number:
  print(x)

Value 0
Value 1
Value 2
Value 3
Value 4
Value 5
Value 6
Value 7
Value 8
Value 9
Value 10

In [37]:
#While Loop
i=0
while i<=10:
  print("Value",i)
  i+=1

Value 0
Value 1
Value 2
Value 3
Value 4
Value 5
Value 6
Value 7
Value 8
Value 9
Value 10

###Application 2

In [25]:
i=20
while i>3:
  i=i-1
  print(i)
  if i==4:
    break

19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4